/* src/Components/Bookings/Bookings.css */

/* Bookings Container */
.bookings {
    padding: 2rem 1.5rem;
  }
  
  .bookings h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--blackColor);
  }
  
  /* Booking Card */
  .booking-card {
    background-color: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    margin-bottom: 1.5rem;
  }
  
  .booking-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--PrimaryColor);
  }
  
  .booking-card p {
    margin-bottom: 0.5rem;
    color: var(--textColor);
  }
  